.holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    height: 100px;
}

/* Order control */
.item:nth-child(1) {
    order: 2; /* 1 goes middle */
}

.item:nth-child(2) {
    order: 3; /* 2 goes right */
}

.item:nth-child(3) {
    order: 1; /* 3 goes left */
}