body {
    background-color: #eee;
}

/* Flex container */
.holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

/* Items */
.item {
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

/* Colors */
.item1 {
    background-color: red;
}

.item2 {
    background-color: blue;
}

.item3,
.item4,
.item5,
.item6,
.item7 {
    background-color: green;
}